{% extends 'form.html' %}

{% block content %}
    <form action="." method="post" enctype="multipart/form-data">
        <div class="card card-default">
            <div class="card-body">
                {% csrf_token %}
                <input type="hidden" name="action" id="" value="{{ action }}">
            </div>
            <label for="">Contraseña actual:</label>
            <input type="password">
            <label for="">Contraseña anueva:</label>
            <input type="password">
            <label for="">Contraseña contraseña nueva (confirmacion):</label>
            <input type="password">
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-flat btnTest">
                    <i class="fas fa-save"></i>&nbsp; Cambiar clave
                </button>
                
            </div>
            </div>
        </div>
    </form>

{% endblock content %}